.winter-light {
	--ml-space-0: 0px;
	--ml-space-1: .5rem;
	--ml-space-2: 1rem;
	--ml-space-3: 2rem;
	--ml-space-4: 4rem;
	--ml-space-5: 8rem;
	--ml-space--5: -8rem;
	--ml-space--4: -4rem;
	--ml-space--3: -2rem;
	--ml-space--2: -1rem;
	--ml-space--1: -.5rem;
	--ml-fontSizes-0: 0.75rem;
	--ml-fontSizes-1: 0.88rem;
	--ml-fontSizes-2: 1rem;
	--ml-fontSizes-3: 1.5rem;
	--ml-fontSizes-4: 2rem;
	--ml-fontSizes-5: 3rem;
	--ml-fontSizes-6: 4rem;
	--ml-fontSizes-7: 8rem;
	--ml-fontSizes-8: 12rem;
	--ml-fonts-body: ml,Monaco,"DejaVu Sans Mono","Lucida Console",monospace;
	--ml-fonts-monospace: ml,Monaco,"DejaVu Sans Mono","Lucida Console",monospace;
	--ml-fontWeights-regular: 400;
	--ml-fontWeights-bold: 700;
	--ml-fontStyles-normal: normal;
	--ml-fontStyles-italic: italic;
	--ml-borders-none: none;
	--ml-borders-thin: 1px solid;
	--ml-borders-medium: 2px solid;
	--ml-borders-thick: 3px solid;
	--ml-radii-none: 0;
	--ml-radii-small: 3px;
	--ml-radii-medium: 9px;
	--ml-radii-round: 99999px;
	--ml-zIndices-0: 0;
	--ml-zIndices-1: 1;
	--ml-zIndices-auto: auto;
	--ml-zIndices-announcement: 100;
	--ml-zIndices-navigation: 1000;
	--ml-zIndices-dialog: 9999;
	--ml-colors-background: #fff;
	--ml-colors-text: #012339;
	--ml-colors-variable: #2f86d2;
	--ml-colors-attribute: #a44185;
	--ml-colors-definition: #367b42;
	--ml-colors-keyword: #236ebf;
	--ml-colors-operator: #a44185;
	--ml-colors-property: #367b42;
	--ml-colors-number: #174781;
	--ml-colors-string: #a44185;
	--ml-colors-comment: #174781;
	--ml-colors-meta: #555;
	--ml-colors-tag: #a44185;
	--ml-colors-muted: #f2f2f2;
	--ml-colors-primary: #236ebf;
	--ml-colors-secondary: #a44185;
	--ml-colors-border: #d8d8d8;
	--ml-colors-backdrop: hsla(0,0%,95%,.5);
	--ml-colors-focusRing: rgba(35,110,191,.5);
	--ml-colors-transparent: hsla(0,0%,95%,0);
	--ml-components-Container-maxWidth: 1280px;
}

.vscode {
	--ml-space-0: 0px;
	--ml-space-1: .5rem;
	--ml-space-2: 1rem;
	--ml-space-3: 2rem;
	--ml-space-4: 4rem;
	--ml-space-5: 8rem;
	--ml-space--5: -8rem;
	--ml-space--4: -4rem;
	--ml-space--3: -2rem;
	--ml-space--2: -1rem;
	--ml-space--1: -.5rem;
	--ml-fontSizes-0: 0.75rem;
	--ml-fontSizes-1: 0.88rem;
	--ml-fontSizes-2: 1rem;
	--ml-fontSizes-3: 1.5rem;
	--ml-fontSizes-4: 2rem;
	--ml-fontSizes-5: 3rem;
	--ml-fontSizes-6: 4rem;
	--ml-fontSizes-7: 8rem;
	--ml-fontSizes-8: 12rem;
	--ml-fonts-body: ml,Monaco,"DejaVu Sans Mono","Lucida Console",monospace;
	--ml-fonts-monospace: ml,Monaco,"DejaVu Sans Mono","Lucida Console",monospace;
	--ml-fontWeights-regular: 400;
	--ml-fontWeights-bold: 700;
	--ml-fontStyles-normal: normal;
	--ml-fontStyles-italic: italic;
	--ml-borders-none: none;
	--ml-borders-thin: 1px solid;
	--ml-borders-medium: 2px solid;
	--ml-borders-thick: 3px solid;
	--ml-radii-none: 0;
	--ml-radii-small: 3px;
	--ml-radii-medium: 9px;
	--ml-radii-round: 99999px;
	--ml-zIndices-0: 0;
	--ml-zIndices-1: 1;
	--ml-zIndices-auto: auto;
	--ml-zIndices-announcement: 100;
	--ml-zIndices-navigation: 1000;
	--ml-zIndices-dialog: 9999;
	--ml-colors-background: #1e1e1e;
	--ml-colors-text: #d4d4d4;
	--ml-colors-variable: #9cdcfe;
	--ml-colors-attribute: #d19a66;
	--ml-colors-definition: #dcdcaa;
	--ml-colors-keyword: #c586c0;
	--ml-colors-operator: #d4d4d4;
	--ml-colors-property: #dcdcaa;
	--ml-colors-number: #b5cea8;
	--ml-colors-string: #ce9178;
	--ml-colors-comment: grey;
	--ml-colors-meta: #d4d4d4;
	--ml-colors-tag: #569cd6;
	--ml-colors-primary: #c586c0;
	--ml-colors-secondary: #d19a66;
	--ml-colors-muted: #2b2b2b;
	--ml-colors-border: #3f3f3f;
	--ml-colors-backdrop: rgba(43,43,43,.5);
	--ml-colors-focusRing: rgba(197,134,192,.5);
	--ml-colors-transparent: rgba(43,43,43,0);
	--ml-components-Container-maxWidth: 1280px;
}